body{
    background: rgb(18,20,32);
background: linear-gradient(90deg, rgba(18,20,32,1) 12%, rgba(183,109,104,1) 100%);
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
body a{
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar{
    display:none;
}

#loader { 
            border: 12px solid #D5D5AF; 
            border-radius: 50%; 
            border-top: 12px solid rgb(0, 0, 0); 
            width: 70px; 
            height: 70px; 
            animation: spin 2s linear infinite; 
        } 
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        }
.load-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color:#D5D5AF;
}
#navbar{
    background-color: rgba(0, 0, 0, 0.1);
    height:80px;
    display:flex;
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    overflow:hidden;
    top: 0;
    transition: 0.5s ease-in-out ;
}
#navbar a{
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
#navbar a:hover {
    color: #ffffff;
    transition: 0.5s;
}
.nav-container{
    position: sticky;
    margin-bottom: 80px;
}
#navbar.scroll{
    background: black;
    transition: 0.9s;
}
#navbar.scroll a:hover{
    color: rgb(255, 255, 255);
}
.head{
    font-size: 60px;
    height:110vh;
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.7)),
    url( '../../../Resources/Images/final-drake.jpg')center / cover fixed    ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title{
    display: flex;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
}
.description{
    font-size: 30px;
    font-weight: bolder;

}
.title{
    display: flex;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
}
.card-container{
    width: max-content;
    overflow-x: scroll;
    display:flex;
    padding: 2rem;
}
.card-container::-webkit-scrollbar {
    display: none;
    
}
.card{
    min-width: 210px;
    height: 280px;
    border-radius: 20px;
    background:#000000;
    box-shadow: -1rem 0 3rem #000 ;
    box-shadow: -1rem 0 3rem rgb(0, 0, 0) ;
    padding: 1.5rem;
    transition: 0.7s;
    scrollbar-color: red;
    margin: 15px;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: rgb(255, 254, 254);
}
.card .category-title {
    font-size:18px;
    color:rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.card .article-title {
    font-size: 20px;
    font-weight: 700;
}
.card .artcle-header  {
    margin-bottom: auto;
}

.card:hover {
    transform: translateY(-1.5rem);
}
.card:hover~.card {
    transform: translateX(70px);
}
.card .name {
    font-weight: 900;
}
.artist-image{
    border-radius: 10%; 
    margin-left: 10px;
    width: 180px;
    }
.info{
    text-align: center;
    margin-left: -80px;
}
.album-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}