*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background:black;
    color: white;
    transition: all 1s ;
    background: rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
.title-top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    margin-top:50px ;
}
.g-container{
    display: flex;
    margin-top: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.genre {
    color: white;
    font-size: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 230px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}
.genre:hover{
    font-size: 45px;
    transition: 0.9s;
    border-radius: 20px;
    height: 300px;
    width: 400px;  
    height: 350px;
    width: 400px;
    color: rgb(255, 255, 255);
    background: rgb(50,48,49);
background: linear-gradient(90deg, rgba(50,48,49,1) 0%, rgb(24, 24, 24) 50%, rgba(184,181,171,1) 50%, rgba(193,189,179,1) 100%);
}
.house:hover{
    font-size:35px;
}
.genre .card{
    display: none;
}
.genre:hover .card{
    display: flex;
}
.card-container{
    overflow-x: scroll;
    display:flex;
}
.card-container::-webkit-scrollbar {
    display: none;
}
.card{
    max-width: 200px;
    height: 250px;
    border-radius: 20px;
    background: rgb(152,152,152);
background: rgb(0, 0, 0) 100%;
    padding: 1.5rem;
    transition: 0.7s;
    margin: 15px;
}
a{
    text-decoration: none;
    color:white
}
.data a{
    color: #8a8a8a;
}
.card .category-title {
    font-size:18px;
    color:#fff;
    margin-bottom: 1rem;
}
.card .article-title {
    font-size: 20px;
    font-weight: 700;
}
.card .artcle-header  {
    margin-bottom: auto;
}
.card .author {
    display:grid;
    grid-template-columns:75px 1fr ;
}
.author .info .caption {
    color: #8a8a8a;
    display:inline;
}
.date {
        color: #8a8a8a;
}
/* .card:hover {
    transform: translateY(-1.5rem);
}
.card:hover~.card {
    transform: translateX(70px);
} */
.card .name {
    font-weight: 900;
}
.artist-image{
    border-radius: 10%; 
    margin-left: 10px;
    width: 80px;
}
.img-container{
    margin-left: -80px;
    margin-top: 50px;
    
}
.info{
    text-align: center;
    margin-left: -80px;
}

#navbar{
    background-color: rgb(17,23,22);
background: linear-gradient(90deg, rgba(17,23,22,1) 0%, rgba(51,69,64,1) 100%);
    color: black;
    height:80px;
    display:flex;
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    overflow:hidden;
    top: 0;
    z-index: 1;
}
#navbar a{
    color: rgba(223, 223, 223 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: 1000;
}
#navbar a:hover {
    color: #fafacf;
    transition: 0.5s;
}
.nav-container{
    position: sticky;
    margin-bottom: 80px;
}
#navbar.scroll{
    background: #000;
    transition: 0.9s;
    border-bottom: 2px rgb(20, 20, 20) solid;
}
#loader { 
            border: 12px solid #D5D5AF; 
            border-radius: 50%; 
            border-top: 12px solid rgb(0, 0, 0); 
            width: 70px; 
            height: 70px; 
            animation: spin 2s linear infinite; 
        } 
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        }
.load-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color:#D5D5AF;
}